---
// Import Layout vừa tạo
import BlankLayout from '../layouts/BlankLayout.astro';


---

<BlankLayout 
  title="ShipFast - The NextJS Boilerplate for Indie Hackers"
  description="Save weeks of setup time and ship your startup in days."
>
  
  <main>
    
    <div class="text-center py-10 text-sm text-gray-500">
      © 2024 Your Company. All rights reserved.
    </div>
  </main>

</BlankLayout>
